.error-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-color;
  z-index: 11111111111;

  .error-wrapper-content {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      margin-bottom: 30px;
    }

    button {
      padding: .7em 1.2em;
      background: $crem-button;
      border: none;
      font-size: 1.1em;
      color: $primary-color;
      cursor: pointer;
      transition: .3s;
      &:hover {
        font-weight: bold;
        background-color: $secondary-color;
      }
    }
  }
}

.error-search {
  width: 100%;
  height: 50vh;
  text-align: center;
  padding-top: 2em;

  h2 {
    color: $gray;
  }
}