<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meluwe Apps</title>
</head> 
<body> 
  <button-comp className="btn-skip">Skip to content</button-comp>
  <header>
    <button-icon 
      idComp="btnTabSidebar"
      className="btn-tab-sidebar"
      ariaLabel="Button Tab Menu"
      type="images"
      content="./images/icons/Icon open-align-left.svg"
      alt="icon menu"
    ></button-icon>
    <nav-bar/>
  </header>
  <main id="mainContent"></main>
  <span class="layer"></span>
  <spinner-comp></spinner-comp>
  <error-comp></error-comp>
  <footer>
    <footer-comp tabindex="0"></footer-comp>
  </footer>
</body>
</html>